$font-family: 'Noto Sans JP', sans-serif;
$title-font-size: 30px;
$content-font-size: 15px;
$sidebar-max-width: 300px;
$canvas-max-width: 1800px;

body {
    margin: 0px;
    padding: 0px;
}

li {
   list-style-type: none; 
}


header {
    width: 100%;
    min-width: 1490px;
    height: 80px;
    background-color: rgb(76, 130, 231);
    box-shadow: 0px 0px 2.5px 0px black;
    .header-title {
        font-family: $font-family;
        float: left;
        font-size: 30px;
        color: white;
        margin: 20px;
    }

}

main {
    width: 100%;
    height: 700px;
    margin: auto;
    .content-container {
        width: 100%;
        height: 700px;
        border-top: 0.5px solid transparent;
        #login {
            background-color: rgb(76, 130, 231);;
            border-radius: 3px; 
            width: 300px;
            margin: {
                top: 300px;
                left: auto;
                right: auto;
            }
            a {
                color: white;
                font-size: 30px;
                text-align: center;
                text-decoration: none;
                display: block;
                margin: 0px auto;
            }
        }
    }
}

footer {
    width: 100%;
    border-top: solid 0.5px gainsboro;
}