body {
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  font-family: "Noto Sans JP", sans-serif;
  user-select:none;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  min-width: 1390px;
  height: 55px;
  background-color: rgb(76, 130, 231);
  box-shadow: 0px 0px 2.5px 0px black;
  overflow: hidden;
  #header-title {
    float: left;
    font-size: 30px;
    color: white;
    margin : { 
      top: 5px;
      left: 20px;
    }
  }

  #user-name {
    float: right;
    font-size: 20px;
    color: white;
    margin : {
      top: 15px;
      right: 30px;
    }
  }
}

#content-container {
  flex: 1;
  width: 1390px;
  min-height: 860px;
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  margin: 0px auto;
  #side-bar {
    width: 280px;
    height: 800px;
    margin-top: 30px;
    margin-right: 10px;
    border: solid 0.5px gainsboro;
    #room-content-before-enter {
      width: 100%;
      height: 100%;
      #room-enter-guide {
        font-size: 20px;
        text-align: center;
        padding: 10px;
        border-bottom: solid 0.5px gainsboro;
      }

      #room-enter-form {
        #room-name-input {
          width: 230px;
          height: 20px;
          display: block;
          border-radius: 2px;
          border: solid 0.1px gainsboro;
          margin: 10px auto;
        }
        #room-name-input:focus {
          outline: none;
        }

        #connect-btn {
          display: block;
          background-color: rgb(76, 130, 231);
          color: white;
          border: none;
          border-radius: 2px;
          height: 30px;
          width: 60px;
          margin: 10px auto;
        }
        #connect-btn:hover {
          background-color: rgb(31, 101, 230);
        }
      }
    }

    #room-content-after-enter {
      width: 100%;
      height: 100%;
      display: none;

      #room-name-guide {
        font-size: 20px;
        text-align: center;
        padding: 10px;
        border-bottom: solid 0.5px gainsboro;
      }

      #room-member-guide {
        text-align: center;
        border-bottom: 0.5px solid gainsboro;
      }

      #room-members-container {
        height: 650px;
        width: 100%;
        overflow-y: scroll;
        border-bottom: solid 0.5px gainsboro;
        padding: 0px;

        .room-member-content {
          width: 100%;
          display: inline-block;
          .room-member-user-info {
            width: 100%;
            height: 40px;
            gap: 15px;
            display: flex;
            img {
              display: block;
              width: 30px;
              height: 30px;
              margin: {
                left: 5px;
                top: 5px;
                bottom: 5px;
              }
              border-radius: 50%;
            }
            p {
              display: block;
              margin: {
                top: 7px;
                bottom: 3px;
              }
              font-size: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .room-member-user-info:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          .room-member-volume-container {
            border-top: thick double gainsboro;
            border-bottom: solid 0.5px gainsboro;
            height: 40px;
            gap: 10px;
            span.material-icons {
              font-family: 'Material Icons';
              display: block;
              width: 25px;
              height: 25px;
              margin: {
                top: 6px;
                left: 10px;
              }
            }
            input {
              width: 150px;
              display: block;
            }
          }
        }
      }

      #disconnect-btn {
        display: block;
        background-color: white;
        border: none;
        border-bottom: solid 0.5px gainsboro;
        height: 37px;
        width: 100%;
        margin: 0px auto;
      }
      #disconnect-btn:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  #canvas-container {
    margin-top: 30px;
    #target-canvas {
      display: block;
      width: 1100px;
      height: 750px;
      border: solid 0.5px gainsboro;
      box-sizing: border-box;
    }

    #controller-container {
      width: 1100px;
      height: 50px;
      background-color: rgb(50, 50, 50);
      #master-volume-container {
        float: left;
        width: 250px;
        height: 50px;
        display: flex;
        background-color: rgb(70, 70, 70);
        span.material-icons {
          display: block;
          color: white;
          width: 30px;
          height: 30px;
          font-size: 30px;
          margin: 10px;
        }
        
        #master-volume {
          display: block;
          width: 180px;
        }
      }

      #filter-setting {
        float: right;
        background-color: rgb(70, 70, 70);
        width: 50px;
        height: 50px;
        span.material-icons {
          display: block;
          font-size: 40px;
          margin-top: 5px;
          margin-left: 5px;
          color: white;
        }
      }

      #filter-setting:hover {
        background-color: rgb(90, 90, 90);
      }
    }
  }
}

footer {
  position: relative;
  width: 100%;
  min-width: 1390px;
  height: 30px;
  background-color: rgb(50, 50, 50);

  p {
    margin-left: 5px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    line-height: 1;
  }   
}