$font-family: 'Noto Sans JP', sans-serif;
$title-font-size: 30px;
$content-font-size: 15px;
$sidebar-max-width: 300px;
$canvas-max-width: 1800px;

body {
    margin: 0px;
    padding: 0px;
}

li {
   list-style-type: none; 
}


header {
    width: 100%;
    min-width: 1490px;
    height: 80px;
    background-color: rgb(76, 130, 231);
    box-shadow: 0px 0px 2.5px 0px black;
    .header-title {
        font-family: $font-family;
        float: left;
        font-size: 30px;
        color: white;
        margin: 20px;
    }

    .user-name {
        float: right;
        font-family: $font-family;
        font-size: 20px;
        color: white;
        margin: 30px;
    }
}

main {
    width: 100%;
    height: 800px;
    position: relative;
    .content-container {
        width: 100%;
        height: 100%;
        font-family: $font-family;
        font-size: $content-font-size;
        display: flex;
        gap: 20px;
        .side-bar {
            width: 280px;
            min-width: 280px;
            height: 95%;
            border: solid 0.5px gainsboro;
            margin: {
                top: 19px;
                bottom: 19px;
                left: 19px;
            }

            #room-content-before-enter {
                width: 100%;
                height: 100%;
                .room-enter-guide {
                    font-size: 20px;
                    text-align: center;
                    padding: 10px;
                    border-bottom: solid 0.5px gainsboro;
                }
        
                .room-enter-form {
                    #room-name-input{
                        width: 230px;
                        height: 20px;
                        display: block;
                        border-radius: 2px;
                        border: solid 0.1px gainsboro;
                        margin: 10px auto;
                    }
                    #room-name-input:focus {
                        outline: none;
                    }
        
                    #connect-btn{
                        display: block;
                        background-color: rgb(76, 130, 231);
                        color: white;
                        border: none;
                        border-radius: 2px;
                        height: 30px;
                        width: 60px;
                        margin: 10px auto;
                    }
                    #connect-btn:hover{
                        background-color: rgb(31, 101, 230);
                    }
                }
            }
            
            #room-content-after-enter {
                width: 100%;
                height: 100%;
                display: none;

                #room-name-guide {
                    font-size: 20px;
                    text-align: center;
                    padding: 10px;
                    border-bottom: solid 0.5px gainsboro;
                }

                .room-member-guide {
                    text-align: center;
                    border-bottom: 0.5px solid gainsboro;
                }
        
                #room-members-container {
                    height: 650px;
                    width: 100%;
                    overflow-y: scroll;
                    border-bottom: solid 0.5px gainsboro;
                    padding: 0px;

                    .room-member-content {
                        width: 100%;
                        display: inline-block;
                        .room-member-user-info {
                            width: 100%;
                            height: 40px;
                            gap: 15px;
                            display: flex;
                            img {
                                display: block;
                                width: 30px;
                                height: 30px;
                                margin: {
                                    left: 5px;
                                    top: 5px;
                                    bottom: 5px;
                                }
                                border-radius: 50%;
                            }
                            p {
                                display: block;
                                margin: {
                                    top: 7px;
                                    bottom: 3px;
                                }
                                font-size: $content-font-size;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                        }

                        .room-member-user-info:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                        
                        .room-member-volume-container {
                            border-top: thick double gainsboro;
                            border-bottom: solid 0.5px gainsboro;
                            height: 40px;
                            gap: 10px;
                            img {
                                display: block;
                                width: 25px;
                                height: 25px;
                                margin: {
                                    top: 6px;
                                    left: 10px;
                                }
                            }
                            input {
                                width: 150px;
                                display: block;
                            }
                        }
                    }
                }
    
                #disconnect-btn {
                    display: block;
                    background-color: white;
                    border: none;
                    border-bottom:solid 0.5px gainsboro;
                    height: 37px;
                    width: 100%;
                    margin: 0px auto;
                }
                #disconnect-btn:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    
        .room-canvas {
            width: 80%;
            min-width: 1140px;
            max-width: $canvas-max-width;
            height: 95%;
            border: solid 1px gainsboro;
            margin: {
                top: 19px;
                bottom: 19px;
            }
            #target-canvas {
                display: block;
                margin: {
                    top: 20px;
                    bottom: 20px;
                }
                margin-left: auto;
                margin-right: auto;
                width: 1100px;
                height: 720px;
                border: solid 1px gray;
            }
        }
    }

}

footer {
    width: 100%;
    border-top: solid 0.5px gainsboro;
}