<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>easy-room</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.1.js"></script>
    <link rel="stylesheet"ref="style.css">
    <script src="main.js"></script>
  </head>
  <body>
    <p id="username"><%= clientdata.username %></p>
    <input type="text" id="room-name">
    <button id="makepeerbtn">Peer作成</button>
    <button id="disconnectbtn">切断</button>
    <button id="connectbtn">接続</button>
    <button id="drawbtn">描画</button>
    <ul id="room-members">
      ユーザ一覧
    </ul>

    <canvas id="canvas" width="800" height="600" style="border:solid 1px black;"></canvas>
  </body>

  <script type="text/javascript">
    const clientData = <%- JSON.stringify(clientdata) %>;
    window.selfPeerId = clientData.peerId;
    window.selfImage = "<%= userimgurl %>";
    window.credential = clientData.credential;
    window.apiKey = "<%= apikey %>";
  </script>
</html>
