<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>easy-room</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style_public.css">
  </head>
  <body>
    <header>
      <div id="header-title">easy-room</div>
    </header>
    <div id="content-container">
      <div id="login-btn">
        <a href=<%- slackapiurl %>>
          Slackでログイン
        </a>
      </div>
    </div>
    <footer>
      <p>&copy - immotare</p>
    </footer>
  </body>
</html>