<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>easy-room</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style_public.css">
  </head>
  <body>
    <header>
      <div class="header-title">easy-room</div>
    </header>
    <main>
      <div class="content-container">
        <div id="login">
          <a href=<%- slackapiurl %>>
            Slackでログイン
          </a>
        </div>
    </main>
    <footer>
      <p>&copy - immotare</p>
    </footer>
  </body>
</html>